body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-image: url('/home/bridgeit/Desktop/IPL/Abstract Wallpapers and Backgrounds HD (1).jpg');
}
/*table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
    text-align: left;
        padding: 8px;
}*/
.left carousel-control, right carousel-control {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.right carousel-control {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.carousel slide {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* On hover, add a black background color with a little bit see-through */

.left carousel-control:hover, .right carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
}
.w3-container {
    padding-bottom: 10px;
}
.w3-card-12 {
    padding-bottom: 15px;
}
.carousel-inner> .item> img, .carousel-inner> .item> a> img {
    width: 70%;
    margin: auto;
}
