<body>
  <!-- Repeating through the players data-->
  <header>
      <a ui-sref = "teaminfo({teaminformation:teamname})"><h1 style= 'color:white'><center>{{teamname}}</center></h1>
  </header>
        <div ng-repeat="x in data" class = "col-md-4">
          <center>
            <!--Creating Card Layout for Images-->
          <div class="w3-card-12 w3-gray"style="width:100%" "height = 180%">
            <header class="w3-container w3-red">
                <a href="{{x.player_cricinfo_url}}" target = '_blank'><h6>{{x.player_name}}</h6></a>
            </header>
            <div class="w3-container w3-hover-shadow w3-center w3-blue">
              <img id = {{x.player_img_url}}  src='{{x.player_img_url}}' alt="PlayerImage" height="180" width="170" name = {{getImage(x.player_img_url)}}></img>
            </div>
              <h5>
                <!--Footer for displaying player info-->
                <footer class="w3-container w3-white">
                <table>
                    <tr><td>Role</td><td>{{x.player_role}}</td></tr>
                    <tr><td>DateOfBirth</td><td>{{x.player_dob}}</td></tr>
                    <tr><td>Nationality</td><td>{{x.player_nationality}}</td></tr>
                    <tr><td>Batting Style </td><td>{{x.player_batting_style}}</td></tr>
                    <tr><td>Bowling Style </td><td>{{x.player_bowling_style}}</td></tr>
                </table>
              </center>
              </h5><br>
            </footer>
            <br>
          </div>
</body>
