<table>
    <tr>
        <th>PLAYER</th>
        <th>IMAGE</th>
    </tr>
    <tbody>
        <tr ng-repeat="x in data">
            <td>
                <a href="">
                    <li>{{x.player_name}}</li>
                    <li>{{x.player_role}}</li>
                    <li>{{x.player_dob}}</li>
                    <li>{{x.player_nationality}}</li>
                    <li>{{x.player_batting_style}}</li>
                    <li>{{x.player_bowling_style}}</li>
                  </br>
            </td>
            <td>
                <img id = {{x.player_img_url}} src='{{x.player_img_url}}' alt="PlayerImage" height="130" width="160" name = {{getImage(x.player_img_url)}}></img>
            </td>
        </tr>
    </tbody>
</table>
