<!--
* FileName:teams.html
* CreatedBy: Vamsee
* Date :07-08-2016
* Purpose : UI for displaying all teams information
-->
  <div >
  <center>
  <div class = 'col-md-6' ng-repeat = "x in data" class = "w3-card-6" style="width:50%;">
    <table>
      <tr><td>
        <a ui-sref="teamplayer({teamname:x.team_name})">
        <img id = {{x.team_img_url}}  src='{{x.team_img_url}}' alt="PlayerImage" height="220" width="450" name = {{getImage(x.team_img_url)}}></img></a>
        <br><br>
      </td></tr>
    <!-- <p> -->
      <tr><td style= 'color:white'>
        <li>Name : {{x.team_name}}</li>
        <li>Captain  :{{x.team_captain}}</li>
        <li>Coach    :{{x.team_coach}}</li>
        <li>Owner:{{x.team_owner}}</li>
        <li>HomeVenue:{{x.team_home_venue}}</li>
      </td></tr>
    <!-- </p> -->
    </table>
  </div>
  <br>
  </center>
  </div>
</div>
