<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">IPL</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div>
  </nav>
<div class="container" ng-init= "myVar = '#/player'">
    <div class="row" ng-controller = 'teamCtrl'>
        <div  data-ng-repeat="team in data" class="col-md-3">
          <a ui-sref="teamplayer({teamname:team.team_name})">
            <img ng-src = '{{(team.team_img_url)}}'id = {{(team.team_img_url)}} name = {{getImage(team.team_img_url)}}></img>
            {{team.team_name}}</a>
            <br>
            </br>
        </div>
    </div>
</div>
</body>
